In [131]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [132]:
data = pd.read_csv("D:\Labs\PIIS-labs\Pacman lab3\statistics.csv", delimiter='\t')
data.time = data['time'].round(2)

data.head()

   status   time  score  algorithm
0       1   2.46     18          1
1       1  34.98    147          1
2       0   8.53     69          1
3       0  11.42    112          1
4       1   3.99     39          1

In [133]:
y = data['score'].values.reshape(-1,1)
X = data.drop(columns=['score']).values

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [147]:
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_train, y_train)

0.8821581600156783

In [148]:
y_predict = reg.predict(X_test)

In [149]:
result = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_predict.flatten().round(0)})
result

   Actual  Predicted
0      69       49.0
1     287      272.0
2     112       54.0
3      69      113.0
4     164      154.0
5      37       43.0
6      23       52.0
7     226      121.0